@charset "ISO-8859-1";


.flex-conteiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}


.flex-item{
	font-size: 16;
	flex-grow: 1;
	border: 1px solid black;
	padding: 5px 10px;
	width: 300px;
	max-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s;
	opacity: 0.6;
  	flex-shrink: 1;
  	overflow: hidden;
}

.flex-item:hover{
	opacity: 1;
	box-shadow: 0px 0px 10px #000;
}

.flex-sub-item{
	padding: 5px;
}